@import url(./font.css);
@import url(./media.css);
@import url(./icon.css);

html {
  /* font-family: "Black Han Sans", sans-serif; */
  font-family: "Gowun Batang", serif;
}

body {
  margin: 0px auto;
}

li {
  list-style: none;
}

a {
  color: black;
}

.container {
  margin: 0px auto;
}

.main-title {
  font-weight: bold;
  font-size: 40px;
  padding-top: 30px;
}

.section {
  padding: 20px 0px;
  border-bottom: 2px dashed darkgray;
}

.title {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: #017bdf;
  margin-bottom: 20px;
  background-color: #eaeaeb;
  padding: 5px 20px;
}

.header > div {
  display: inline-block;
}

.header {
  padding: 40px 0px 20px 0px;
}

.header-img {
  display: inline-block;
  width: 20%;
}

.header-contents {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding-left: 50px;
}

.contents-title {
  margin-bottom: 15px;
}

.contents-info {
  margin: 5px 0px;
}

.contents-info > div {
  vertical-align: top;
}

.bold {
  font-weight: bold;
}

.gray {
  color: darkgray;
}

.stack > div {
  margin: 10px 0px;
}

.info {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.info > div:first-child {
  margin-top: 10px;
}

.history {
  display: inline-block;
  width: 73%;
  vertical-align: top;
}

.history > div {
  margin: 10px 0px;
}

.section-last {
  border-bottom: none;
  margin-bottom: 70px;
}
