@import url(./font.css);
@import url(./media.css);
@import url(./icon.css);

html {
  font-family: "Gowun Batang", serif;
  font-size: 15px;
}
li {
  list-style: none;
}
a {
  color: black;
}

.container {
  margin: 0px auto;
}

.main-title {
  font-weight: bold;
}

.section {
  margin: 10% 0px;
  padding-bottom: 5%;
  border-bottom: 2px dashed darkgray;
}

.section-last {
  border-bottom: none;
  margin-bottom: 5%;
}

.title-bg {
  display: inline-block;
  font-weight: bold;
  color: #017bdf;
  background-color: #eaeaeb;
}

.header > div {
  display: inline-block;
}

.header {
  padding: 30px 0px 20px 0px;
}

.header-img {
  width: 20%;
}

.header-img > img {
  width: 100%;
}

.header-contents {
  vertical-align: top;
  width: 70%;
  padding-left: 5%;
}

.contents-title {
  margin-bottom: 10px;
}

.contents-info {
  margin: 1% 0px;
}

.contents-info > div {
  vertical-align: top;
}

.bold {
  font-weight: bold;
}
.gray {
  color: darkgray;
}

.stack > div {
  margin: 1% 0px;
}

.info {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.info > div:first-child {
  margin-top: 10px;
}

.history {
  display: inline-block;
  width: 73%;
  vertical-align: top;
}

.history > div {
  margin: 10px 0px;
}
