/* .icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */
.inline {
  display: inline-block;
}
.icon-email {
  background-image: url("../img/email.png");
}
.icon-phone {
  background-image: url("../img/phone.png");
}
.icon-blog {
  background-image: url("../img/blog.png");
}
.icon-github {
  background-image: url("../img/github.png");
}
/* .icon-point {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  background-image: url("../img/point.png");
} */
