@media (min-width: 767px) {
  .icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .icon-point {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-image: url("../img/point.png");
  }

  .container {
    max-width: 90%;
  }
  
  .main-title {
    font-size: 60px;
    padding-top: 3%;
  }

  .sub-title {
    font-size: 15px;
    padding: 20px 0px;
  }
  
  .header-img {
    text-align: center;
    padding: 30px 0px;
  }

  .header-img > img{
    border-radius: 50%;
    margin: 0px auto;
    width: 300px;
    height: 300px;
  }
  
  .header-contents {
    vertical-align: top;
  }

  .second-title {
    font-size: 59px
  }

  .title {
    font-size: 45px;
  }


  .contents-info > div {
    vertical-align: top;
  }

  .info {
    margin-bottom: 5%;
    font-size: 35px;
  }

  .info > div {
    display: inline-block;;
  }

  .info > div:last-child {
    display: block;
  }

  .history {
    vertical-align: top;
  }
  
  .history > div {
    margin: 1% 0px;
  }
}
